@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

*,
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 672px;
  }
}

@media (max-width: 415px) {
  .container {
    max-width: 352px;
  }
}

.container-form {
  max-width: 792px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container-form {
    max-width: 496px;
  }
}

@media (max-width: 415px) {
  .container-form {
    max-width: 327px;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .d-flex-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 768px) {
  .d-none-s {
    display: none;
  }
}

.f-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .f-wrap-m {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .f-nowrap-m {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (max-width: 415px) {
  .f-wrap-s {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.fd-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fd-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fd-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .fd-row-m {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 415px) {
  .fd-row-s {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 768px) {
  .order-m-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .order-m-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .order-m-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .order-m-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .order-m-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.jc-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .jc-space-between-m {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .jc-center-m {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 415px) {
  .jc-center-s {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .jc-end-s {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ai-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 768px) {
  .ai-center-m {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 415px) {
  .ai-center-s {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mr-1 {
  margin-right: 8px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 42px;
}

.w100 {
  width: 100%;
}

header {
  background-color: #AA0601;
  padding: 30px 88px;
}

@media (max-width: 768px) {
  header {
    padding: 40px 48px;
  }
}

@media (max-width: 415px) {
  header {
    padding: 10px 0;
    width: 100vw;
    z-index: 10;
  }
}

header h1 {
  display: block;
  width: 80px;
  height: 49px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/logo-new.png);
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 415px) {
  header h1 {
    width: 48px;
    height: 30px;
  }
}

header ul {
  width: 492px;
}

@media (max-width: 768px) {
  header ul {
    width: 420px;
  }
}

header ul a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  line-height: 30px;
}

header ul a:hover {
  border-bottom: 3px solid #fff;
}

@media (max-width: 415px) {
  header ul.mobileMode {
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 50px;
    height: 0px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  header ul.mobileMode li {
    width: 100%;
  }
  header ul.mobileMode a {
    width: 100%;
    text-align: center;
    line-height: 60px;
    border-top: 1px solid #fff;
    display: block;
    background-color: #AA0601;
  }
  header ul.mobileMode a:hover {
    border-bottom: 0;
  }
  header ul.mobileMode.show {
    height: 240px;
  }
}

header .ham-icon {
  display: none;
}

@media (max-width: 415px) {
  header .ham-icon {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    color: #fff;
    left: 13px;
    z-index: 11;
    background-image: url(../images/ic_menu_24px.svg);
  }
}

footer {
  padding-top: 36px;
  padding-bottom: 28px;
  background: #AA0601;
  color: white;
}

@media (max-width: 768px) {
  footer {
    padding: 40px 0;
  }
}

@media (max-width: 415px) {
  footer {
    padding: 24px 0;
  }
  footer .container {
    position: relative;
  }
}

footer .footerBox1 {
  margin-bottom: 18px;
}

@media (max-width: 768px) {
  footer .footerBox1 {
    margin-bottom: 22px;
  }
}

@media (max-width: 415px) {
  footer .footerBox1 {
    position: absolute;
    right: 0;
  }
}

footer .menu li {
  margin-right: 48px;
}

@media (max-width: 768px) {
  footer .menu li {
    margin-right: 40px;
  }
}

footer .menu li a {
  font-size: 16px;
  line-height: 24px;
  color: white;
}

footer .menu li:nth-last-child(1) {
  margin-right: 0;
}

@media (max-width: 415px) {
  footer .menu {
    display: none;
  }
}

footer .sns li {
  margin-right: 32px;
}

@media (max-width: 768px) {
  footer .sns li {
    margin-right: 24px;
  }
}

footer .sns li a {
  display: block;
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  footer .sns li a {
    width: 24px;
    height: 24px;
  }
}

footer .sns li a.fb {
  background-image: url(../images/ic-fb.svg);
}

footer .sns li a.ig {
  background-image: url(../images/ic-ig.svg);
}

footer .sns li a.line {
  background-image: url(../images/ic-line.svg);
}

footer .sns li:nth-last-child(1) {
  margin-right: 0;
}

footer h2 {
  font-size: 36px;
  line-height: 54px;
}

@media (max-width: 768px) {
  footer h2 {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (max-width: 415px) {
  footer h2 {
    font-size: 16px;
    line-height: 21px;
  }
}

footer h2 span {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

footer h2.phone {
  margin-bottom: 16px;
}

footer h2.phone span {
  width: 36px;
  height: 36px;
  margin-right: 23px;
  background-image: url(../images/ic_phone.svg);
}

@media (max-width: 768px) {
  footer h2.phone {
    margin-bottom: 11px;
  }
  footer h2.phone span {
    width: 23px;
    height: 23px;
    margin-left: 5px;
    margin-right: 12px;
  }
}

@media (max-width: 415px) {
  footer h2.phone {
    margin-bottom: 8px;
  }
  footer h2.phone span {
    width: 13px;
    height: 13px;
    margin-left: 4px;
    margin-right: 8px;
  }
}

footer h2.mail {
  margin-bottom: 24px;
}

footer h2.mail span {
  width: 48px;
  height: 48px;
  margin-right: 12px;
  background-image: url(../images/ic_mail.svg);
}

@media (max-width: 768px) {
  footer h2.mail {
    margin-bottom: 27px;
  }
  footer h2.mail span {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
}

@media (max-width: 415px) {
  footer h2.mail {
    margin-bottom: 24px;
  }
  footer h2.mail span {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

footer .footerBox2 {
  border-top: 1px solid white;
  padding-top: 24px;
}

@media (max-width: 415px) {
  footer .footerBox2 {
    padding-top: 16px;
  }
}

footer .footerBox2 h3 {
  font-size: 16px;
  line-height: 24px;
  color: white;
}

@media (max-width: 415px) {
  footer .footerBox2 h3 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 8px;
  }
}

footer .footerBox2 h3 span {
  width: 80px;
  height: 49px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/logo-new.png);
  margin-right: 38px;
}

@media (max-width: 768px) {
  footer .footerBox2 h3 span {
    display: none;
  }
}

footer .footerBox2 li {
  margin-right: 62px;
}

@media (max-width: 415px) {
  footer .footerBox2 li {
    width: 100%;
    margin-bottom: 8px;
  }
  footer .footerBox2 li:nth-last-child(1) {
    margin-bottom: 0;
  }
}

footer .footerBox2 li:nth-last-child(1) {
  margin-right: 0;
}

footer .footerBox2 a {
  font-size: 14px;
  line-height: 21px;
  color: white;
}

footer .logo-s {
  display: none;
}

@media (max-width: 415px) {
  footer .logo-s {
    position: absolute;
    display: block;
    width: 46px;
    right: 0;
    bottom: -4px;
  }
}

.mainvision {
  background-image: url(../images/main.png);
  background-size: cover;
  background-position: center;
  height: 840px;
}

@media (max-width: 768px) {
  .mainvision {
    background-image: url(../images/main-m.png);
  }
}

@media (max-width: 415px) {
  .mainvision {
    height: 105vw;
  }
}

.mainvision .text {
  width: 1200px;
  color: #650300;
  text-align: right;
  font-weight: 500;
}

@media (max-width: 768px) {
  .mainvision .text {
    width: 672px;
  }
}

@media (max-width: 415px) {
  .mainvision .text {
    width: 352px;
  }
}

.mainvision h2 {
  font-size: 64px;
  line-height: 96px;
}

@media (max-width: 768px) {
  .mainvision h2 {
    font-size: 48px;
    line-height: 72px;
  }
}

@media (max-width: 415px) {
  .mainvision h2 {
    font-size: 32px;
    line-height: 42px;
  }
}

.mainvision h3 {
  font-size: 36px;
  line-height: 54px;
}

@media (max-width: 768px) {
  .mainvision h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 415px) {
  .mainvision h3 {
    font-size: 16px;
    line-height: 22px;
  }
}

.introduce {
  background-color: #fcf3f1;
  padding-top: 64px;
  padding-bottom: 80px;
}

@media (max-width: 768px) {
  .introduce {
    padding-top: 40px;
  }
}

@media (max-width: 415px) {
  .introduce {
    padding-top: 32px;
    padding-bottom: 56px;
  }
}

.introduce h2 {
  font-weight: 600;
  color: #650300;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  margin-bottom: 44px;
}

@media (max-width: 768px) {
  .introduce h2 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 32px;
  }
}

@media (max-width: 415px) {
  .introduce h2 {
    font-size: 24px;
    line-height: 33px;
  }
}

.introduce li {
  width: 23.5%;
  padding: 0 3.08%;
}

@media (max-width: 768px) {
  .introduce li {
    width: 48.21%;
    padding: 0 7.44%;
    margin-bottom: 12px;
  }
  .introduce li:nth-last-child(1), .introduce li:nth-last-child(2) {
    margin-bottom: 0px;
  }
}

@media (max-width: 415px) {
  .introduce li {
    width: 100%;
    padding: 0 17%;
    margin-bottom: 28px;
  }
  .introduce li:nth-last-child(2) {
    margin-bottom: 28px;
  }
}

.introduce li img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .introduce li img {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
  }
}

.introduce li h3 {
  color: #650300;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 4px;
  text-align: center;
}

@media (max-width: 768px) {
  .introduce li h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

.introduce li p {
  font-size: 16px;
  line-height: 24px;
}

.classic {
  padding-top: 64px;
  padding-bottom: 80px;
}

@media (max-width: 768px) {
  .classic {
    padding-top: 40px;
  }
}

@media (max-width: 415px) {
  .classic {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.classic h2 {
  font-weight: 600;
  color: #650300;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .classic h2 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 32px;
  }
}

@media (max-width: 415px) {
  .classic h2 {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 16px;
  }
}

.classic li {
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .classic li {
    margin-bottom: 8px;
  }
}

@media (max-width: 415px) {
  .classic li {
    position: relative;
  }
}

.classic .img {
  width: 66%;
  height: 320px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .classic .img {
    width: 53.39vw;
    height: 21.88vw;
  }
}

@media (max-width: 415px) {
  .classic .img {
    width: 100%;
    height: 35.73vw;
  }
}

.classic .img2-1 {
  background-image: url(../images/2-1.png);
}

.classic .img2-2 {
  background-image: url(../images/2-2.png);
}

.classic .img2-2:hover {
  background-image: url(../images/2-2-hov.png);
}

.classic .img2-3 {
  background-image: url(../images/2-3.png);
}

.classic .text {
  width: calc(100% - 66% - 24px);
}

@media (max-width: 768px) {
  .classic .text {
    width: 238px;
    padding: 0 12px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 415px) {
  .classic .text {
    position: absolute;
    width: 100%;
  }
}

.classic .icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 24px;
}

.classic .icon.ic2-1 {
  background-image: url(../images/ic-2-1.svg);
}

.classic .icon.ic2-2 {
  background-image: url(../images/ic-2-2.svg);
}

.classic .icon.ic2-3 {
  width: 35.2px;
  background-image: url(../images/ic-2-3.svg);
}

@media (max-width: 768px) {
  .classic .icon {
    width: 32px;
    height: 32px;
    margin-left: 0px;
  }
  .classic .icon.ic2-3 {
    width: 23px;
  }
}

@media (max-width: 415px) {
  .classic .icon.ic2-1 {
    background-image: url(../images/ic-2-1-w.svg);
  }
  .classic .icon.ic2-2 {
    background-image: url(../images/ic-2-2-w.svg);
  }
  .classic .icon.ic2-3 {
    width: 35.2px;
    background-image: url(../images/ic-2-3-w.svg);
  }
}

.classic h3 {
  text-transform: uppercase;
  margin-left: 8px;
  display: inline-block;
  font-family: 'roboto';
  font-style: italic;
  font-weight: 900;
  color: #AA0601;
  font-size: 48px;
  line-height: 72px;
}

@media (max-width: 768px) {
  .classic h3 {
    font-size: 28px;
    line-height: 42px;
  }
}

@media (max-width: 415px) {
  .classic h3 {
    color: #fff;
  }
}

.classic:nth-last-child(1) {
  margin-bottom: 0;
}

.jointAndRecommend {
  padding-top: 64px;
  padding-bottom: 80px;
  background-image: url(../images/bg3.png);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .jointAndRecommend {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(../images/bg3-m.png);
  }
}

@media (max-width: 415px) {
  .jointAndRecommend {
    padding-top: 24px;
    padding-bottom: 24px;
    background-image: url(../images/bg3-s.png);
  }
}

.jointAndRecommend h2 {
  font-weight: 600;
  color: white;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .jointAndRecommend h2 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 32px;
  }
}

@media (max-width: 415px) {
  .jointAndRecommend h2 {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 16px;
  }
}

.joint .imageBox-1 {
  max-width: 1539px;
  margin: 0 auto 60px;
}

.joint .imageBox-1 .img3-1 {
  width: 37.35%;
}

.joint .imageBox-1 .img3-3 {
  width: 13.88%;
}

.joint .imageBox-1 .img3-4-s {
  display: none;
}

@media (max-width: 768px) {
  .joint .imageBox-1 {
    max-width: 672px;
    margin: 0 auto 40px;
  }
  .joint .imageBox-1 .mr-1 {
    margin-right: 3px;
  }
  .joint .imageBox-1 .mb-1 {
    margin-bottom: 3px;
  }
}

@media (max-width: 415px) {
  .joint .imageBox-1 {
    max-width: 87.2vw;
    margin-bottom: 20px;
  }
  .joint .imageBox-1 .mr-1 {
    margin-right: 2px;
  }
  .joint .imageBox-1 .mb-1 {
    margin-bottom: 2px;
  }
  .joint .imageBox-1 .img3-1 {
    width: 46%;
  }
  .joint .imageBox-1 .img3-3 {
    width: 18.93%;
  }
  .joint .imageBox-1 .img3-4-s {
    display: block;
  }
  .joint .imageBox-1 .img3-4 {
    display: none;
  }
}

.joint .imageBox-1 .moreBox {
  position: relative;
  width: 342px;
  height: 167px;
}

@media (max-width: 768px) {
  .joint .imageBox-1 .moreBox {
    width: 194px;
    height: 10vw;
  }
}

@media (max-width: 415px) {
  .joint .imageBox-1 .moreBox {
    width: 100%;
    height: auto;
  }
}

.joint .imageBox-1 .moreBox span {
  position: absolute;
  font-family: 'Roboto';
  font-weight: 700;
  color: #AA0601;
  font-size: 72px;
  line-height: 95px;
  left: 15%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: .8s;
  transition: .8s;
}

@media (max-width: 768px) {
  .joint .imageBox-1 .moreBox span {
    font-size: 40px;
    line-height: 53px;
  }
}

@media (max-width: 415px) {
  .joint .imageBox-1 .moreBox span {
    font-size: 26px;
    line-height: 34px;
  }
}

.joint .imageBox-1 .moreBox .arrow {
  width: 48px;
  height: 48px;
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: .8s;
  transition: .8s;
}

@media (max-width: 768px) {
  .joint .imageBox-1 .moreBox .arrow {
    width: 27.1px;
    right: 10.86px;
  }
}

.joint .imageBox-1 .moreBox:hover span.more1 {
  opacity: 0.65;
  top: -20%;
}

.joint .imageBox-1 .moreBox:hover span.more2 {
  opacity: 0.65;
  top: -60%;
}

.joint .imageBox-1 .moreBox:hover .arrow {
  right: 1%;
}

.joint .imageBox-1 .yellow {
  left: 0;
  position: absolute;
  width: 259px;
  height: 167px;
  background-image: url(../images/3-5.png);
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .joint .imageBox-1 .yellow {
    width: 147px;
    height: 10vw;
  }
}

@media (max-width: 415px) {
  .joint .imageBox-1 .yellow {
    width: 75.5%;
    height: 14.13vw;
  }
}

.joint .imageBox-1 .white {
  position: absolute;
  width: 315px;
  height: 105px;
  background: white;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .joint .imageBox-1 .white {
    width: 178px;
    height: 7.7vw;
  }
}

@media (max-width: 415px) {
  .joint .imageBox-1 .white {
    width: 91.85%;
    height: 10.9vw;
  }
}

.imageBox-2 {
  margin-bottom: 144px;
}

@media (max-width: 768px) {
  .imageBox-2 {
    margin-bottom: 40px;
  }
}

@media (max-width: 415px) {
  .imageBox-2 {
    margin-bottom: 24px;
  }
}

.imageBox-2 li {
  width: 48.75%;
  height: 592px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .imageBox-2 li {
    width: 47.9%;
    height: 280px;
  }
}

@media (max-width: 415px) {
  .imageBox-2 li {
    width: 100%;
    height: 75.73vw;
    margin-bottom: 20px;
  }
  .imageBox-2 li:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.imageBox-2 li.img3-6 {
  background-image: url(../images/3-6.png);
}

.imageBox-2 li.img3-7 {
  background-image: url(../images/3-7.png);
}

.imageBox-2 .text {
  width: 100%;
  height: inherit;
  background: rgba(255, 255, 255, 0.5);
}

.imageBox-2 .text h3 {
  font-weight: 700;
  font-size: 72px;
  line-height: 108px;
  color: #AA0601;
  text-align: center;
}

@media (max-width: 768px) {
  .imageBox-2 .text h3 {
    font-size: 32px;
    line-height: 43px;
  }
}

.recommend li {
  width: 23.5%;
}

@media (max-width: 768px) {
  .recommend li {
    width: 48.2%;
    margin-bottom: 24px;
  }
  .recommend li:nth-last-child(1), .recommend li:nth-last-child(2) {
    margin-bottom: 0;
  }
}

@media (max-width: 415px) {
  .recommend li {
    width: 100%;
    margin-bottom: 16px;
  }
  .recommend li:nth-last-child(2) {
    margin-bottom: 16px;
  }
}

.recommend .img {
  width: 100%;
  height: 256px;
}

.recommend .img4-1 {
  background-image: url(../images/4-1.png);
}

.recommend .img4-2 {
  background-image: url(../images/4-2.png);
}

.recommend .img4-3 {
  background-image: url(../images/4-3.png);
}

.recommend .img4-4 {
  background-image: url(../images/4-4.png);
}

@media (max-width: 768px) {
  .recommend .img4-1 {
    background-image: url(../images/4-1-m.png);
  }
  .recommend .img4-2 {
    background-image: url(../images/4-2-m.png);
  }
  .recommend .img4-3 {
    background-image: url(../images/4-3-m.png);
  }
  .recommend .img4-4 {
    background-image: url(../images/4-4-m.png);
  }
}

@media (max-width: 415px) {
  .recommend .img4-1 {
    background-image: url(../images/4-1-s.png);
  }
  .recommend .img4-2 {
    background-image: url(../images/4-2-s.png);
  }
  .recommend .img4-3 {
    background-image: url(../images/4-3-s.png);
  }
  .recommend .img4-4 {
    background-image: url(../images/4-4-s.png);
  }
}

.recommend .text {
  padding: 16px;
  border: 1px solid #DEE2E6;
  background-color: #fff;
}

.recommend .text p {
  font-size: 16px;
  line-height: 21px;
  color: #212529;
}

.recommend .text p.exp {
  line-height: 24px;
}

.recommend .text p.time {
  color: #707070;
}

.contactUs {
  background: #fcf3f1;
  padding-top: 64px;
  padding-bottom: 92px;
}

@media (max-width: 768px) {
  .contactUs {
    padding-top: 40px;
    padding-bottom: 56px;
  }
  .contactUs .mb-2 {
    margin-bottom: 12px;
  }
  .contactUs .mb-5 {
    margin-bottom: 24px;
  }
}

@media (max-width: 415px) {
  .contactUs {
    padding-top: 24px;
    padding-bottom: 48px;
  }
  .contactUs .mb-5 {
    margin-bottom: 20px;
  }
}

.contactUs h2 {
  font-weight: 600;
  color: black;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .contactUs h2 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 16px;
  }
}

@media (max-width: 415px) {
  .contactUs h2 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
  }
}

.contactUs p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .contactUs p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
}

@media (max-width: 415px) {
  .contactUs p {
    margin-bottom: 8px;
  }
}

.contactUs label {
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
}

@media (max-width: 415px) {
  .contactUs label {
    line-height: 22px;
    margin-bottom: 2px;
  }
}

.contactUs input[type="text"],
.contactUs textarea {
  width: 100%;
  display: block;
  border: 1px solid #000000;
  background: #fcf3f1;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 415px) {
  .contactUs input[type="text"],
  .contactUs textarea {
    line-height: 22px;
    padding: 7px 12px;
  }
}

.contactUs textarea {
  height: 137px;
}

@media (max-width: 415px) {
  .contactUs textarea {
    height: 100px;
  }
}

.contactUs input[type="checkbox"] + label {
  display: block;
  cursor: pointer;
}

@media (max-width: 415px) {
  .contactUs input[type="checkbox"] + label {
    font-size: 14px;
    line-height: 21px;
  }
}

.contactUs input[type="checkbox"] {
  display: none;
}

.contactUs input[type=checkbox] + label::before {
  content: "\2714";
  border: 1px solid #000;
  border-radius: 10%;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  color: transparent;
}

@media (max-width: 415px) {
  .contactUs input[type=checkbox] + label::before {
    width: 17px;
    height: 17px;
  }
}

.contactUs input[type="checkbox"]:checked + label:before {
  background-color: #AA0601;
  border-color: #AA0601;
  color: #fff;
  padding-left: 3px;
  margin-bottom: 2px;
}

.contactUs input[type="submit"] {
  width: 180px;
  height: 54px;
  background: #AA0601;
  border: 0;
  margin: 0 auto;
  display: block;
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.contactUs input[type="submit"]:hover {
  background: #650300;
}

@media (max-width: 768px) {
  .contactUs input[type="submit"] {
    width: 136px;
    height: 36px;
  }
}

.product_intro {
  display: none;
}

.product_intro.active {
  display: block;
  padding-bottom: 156px;
}

@media (max-width: 768px) {
  .product_intro.active {
    padding-bottom: 104px;
  }
}

@media (max-width: 415px) {
  .product_intro.active {
    padding-bottom: 40px;
  }
}

.product_menu {
  max-width: 1200px;
  margin: 0 auto;
}

.product_menu img {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

@media (max-width: 768px) {
  .product_menu img {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 415px) {
  .product_menu img {
    width: 15px;
    height: 15px;
  }
}

.product_menu img.flash {
  width: 35px;
}

@media (max-width: 768px) {
  .product_menu img.flash {
    width: 23px;
  }
}

@media (max-width: 415px) {
  .product_menu img.flash {
    width: 10px;
  }
}

.product_menu li {
  cursor: pointer;
  width: 400px;
  padding: 20px 0 4px;
  border-left: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
  border-bottom: 16px solid #fff;
}

.product_menu li:hover {
  border-bottom: 16px solid #AA0601;
}

.product_menu li.active {
  cursor: default;
  border-bottom: 16px solid #AA0601;
}

.product_menu li.unused {
  cursor: default;
}

.product_menu li.unused:hover {
  border-bottom: 16px solid #DCDCDC;
}

@media (max-width: 768px) {
  .product_menu li {
    padding: 16px 0 8px;
    border-bottom: 8px solid #fff;
  }
  .product_menu li:hover {
    border-bottom: 8px solid #AA0601;
  }
  .product_menu li.active {
    border-bottom: 8px solid #AA0601;
  }
  .product_menu li.unused:hover {
    border-bottom: 8px solid #DCDCDC;
  }
}

@media (max-width: 415px) {
  .product_menu li {
    padding: 8px 0 4px;
    border-bottom: 4px solid #fff;
  }
  .product_menu li:hover {
    border-bottom: 4px solid #AA0601;
  }
  .product_menu li.active {
    border-bottom: 4px solid #AA0601;
  }
  .product_menu li.unused:hover {
    border-bottom: 4px solid #DCDCDC;
  }
}

.product_menu p {
  display: block;
  font-size: 42px;
  line-height: 63px;
  font-weight: 500;
  font-family: 'ROBOTO', sans-serif;
}

@media (max-width: 768px) {
  .product_menu p {
    font-size: 28px;
    line-height: 37px;
  }
}

@media (max-width: 415px) {
  .product_menu p {
    font-size: 14px;
    line-height: 19px;
  }
}

.product_vision {
  margin-bottom: 88px;
}

@media (max-width: 768px) {
  .product_vision {
    margin-bottom: 40px;
  }
}

@media (max-width: 415px) {
  .product_vision {
    margin-bottom: 24px;
  }
}

.product_vision .img {
  width: 49.375%;
  height: 16.1vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .product_vision .img {
    width: 50%;
    height: 40.23vw;
  }
}

@media (max-width: 415px) {
  .product_vision .img {
    height: 38.4vw;
  }
}

.product_vision .img-op1 {
  background-image: url(../images/optical-1.png);
}

.product_vision .img-op2 {
  background-image: url(../images/optical-2.png);
}

.product_vision .img-sun1 {
  background-image: url(../images/sunglasses-1.png);
}

.product_vision .img-sun2 {
  background-image: url(../images/sunglasses-2.png);
}

@media (max-width: 768px) {
  .product_vision .img-op1 {
    background-image: url(../images/optical-1-m.png);
  }
  .product_vision .img-op2 {
    background-image: url(../images/optical-2-m.png);
  }
  .product_vision .img-sun1 {
    background-image: url(../images/sunglasses-1-m.png);
  }
  .product_vision .img-sun2 {
    background-image: url(../images/sunglasses-2-m.png);
  }
}

.product_list .title {
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .product_list .title {
    margin-bottom: 32px;
  }
}

@media (max-width: 415px) {
  .product_list .title {
    margin-bottom: 20px;
  }
}

.product_list h2 {
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  font-weight: 300;
  font-family: '蘋方-繁', '微軟正黑體', sans-serif;
}

@media (max-width: 768px) {
  .product_list h2 {
    font-size: 24px;
    line-height: 36px;
  }
}

@media (max-width: 415px) {
  .product_list h2 {
    font-size: 16px;
    line-height: 22px;
  }
}

.product_list h3 {
  text-align: center;
  font-size: 42px;
  line-height: 63px;
  font-weight: 500;
  font-family: 'ROBOTO', sans-serif;
}

@media (max-width: 768px) {
  .product_list h3 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (max-width: 415px) {
  .product_list h3 {
    font-size: 20px;
    line-height: 26px;
  }
}

.product_list .list {
  padding-bottom: 98px;
}

@media (max-width: 768px) {
  .product_list .list {
    padding-bottom: 53px;
  }
}

.product_list .list li {
  margin-top: 104px;
}

.product_list .list li:nth-child(1), .product_list .list li:nth-child(2) {
  margin-top: 0;
}

@media (max-width: 768px) {
  .product_list .list li {
    margin-top: 72px;
  }
}

@media (max-width: 415px) {
  .product_list .list li {
    margin-top: 32px;
  }
}

.product_list .img {
  background-size: cover;
  background-position: center;
}

.product_list .col4 li {
  width: 23.5%;
  margin-right: 2%;
}

.product_list .col4 li:nth-child(3), .product_list .col4 li:nth-child(4) {
  margin-top: 0;
}

.product_list .col4 li:nth-child(4n) {
  margin-right: 0;
}

.product_list .col4 .img {
  height: 164px;
}

.product_list .col3 li {
  width: 32%;
  margin-right: 2%;
}

.product_list .col3 li:nth-child(3) {
  margin-top: 0;
}

.product_list .col3 li:nth-child(3n) {
  margin-right: 0;
}

.product_list .col3 .img {
  height: 224px;
}

@media (max-width: 768px) {
  .product_list .col2-m li {
    width: 48.2%;
    margin-right: auto;
  }
  .product_list .col2-m li:nth-child(3), .product_list .col2-m li:nth-child(4) {
    margin-top: 72px;
  }
  .product_list .col2-m li:nth-child(3n), .product_list .col2-m li:nth-child(4n) {
    margin-right: auto;
  }
  .product_list .col2-m .img {
    height: 164px;
  }
}

@media (max-width: 415px) {
  .product_list .col1-s li {
    width: 100%;
  }
  .product_list .col1-s li:nth-child(2), .product_list .col1-s li:nth-child(3), .product_list .col1-s li:nth-child(4) {
    margin-top: 32px;
  }
  .product_list .col1-s .img {
    height: 166px;
  }
}

.product_list p {
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: 'ROBOTO', sans-serif;
}

.product_list p:nth-last-child(1) {
  margin-bottom: 4px;
}

.product_list p.price {
  color: #AA0601;
  text-align: right;
}

@media (max-width: 415px) {
  .product_list p {
    font-size: 16px;
    line-height: 21px;
  }
}

.product_list .cube {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 415px) {
  .product_list .cube {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}

.product_list .color-1 {
  background: #5F3E2D;
}

.product_list .color-2 {
  background: #b75929;
}

.pageBar li {
  display: block;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
  border-left: 1px solid #555555;
}

.pageBar li:nth-last-child(1) {
  border-right: 1px solid #555555;
}

.pageBar .next {
  background: #f2f2f2;
}

.pageBar a {
  display: block;
  padding: 10px 14px 12px;
  font-size: 18px;
  color: #555555;
  text-decoration: none;
}

.pageBar a:hover {
  color: #fff;
  background: #000;
}

.pageBar .active a {
  color: #fff;
  background: #000;
}
/*# sourceMappingURL=style.css.map */